/*Body background*/
body {
    background-color: navajowhite;
}

/*Navigation Bar container*/
.container-fluid {
    padding: 1rem;
}

/*Navigation Bar titles/links*/
.navbar-expand-md .navbar-nav .nav-link {
    color: darkorange;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: "sans-serif";
    font-weight: bold;
}

/*Navigation Bar brand: "Patanjali ૐ Yogini" title*/
.navbar-dark .navbar-brand {
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    padding-left: 2rem;
}

/*Lord Ganesha Section Parallax*/
/*@media only screen and (max-device-width: 1366px) {*/
    .ganesha-section {
    background-image: url(../images/Ganesha.jpg);
    height: 950px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px double darkorange;
    }
/*}*/

.ganesha-section h1 {
    color: darkorange;
    font-weight: bold;
    text-align: right;
    font-size: 4em;
    padding-top: 12em;
    padding-right: 1em;
    font-style: italic;
}

/*Section-1: Quote-1 "Yoga Chittavritti Nirodha"*/
.container-fluid-quote-1 {
    background-color: lightblue;
    width: 100%;
    border-top: 8px dotted darkorange;
    border-bottom: 8px double darkorange;
}

.container-fluid-quote-1 p {
    text-align: center;
    font-family: Abhya l;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*Section-2 "India" image and quote-2*/
.d-block {
    background-color: navajowhite;
    border-top: 8px dotted darkorange;
    border-bottom: 8px double darkorange;
}

/*Section-4*/
.section-4 {
    background-color: lightblue;
    border-top: 8px dotted darkorange;
    border-bottom: 8px double darkorange;
}

.section-4 h1 {
    text-align: center;
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5em;
}

.section-4 .rounded-circle {
    border: 3px solid white;
    /*margin:auto;*/
    margin-right: 15px;
    margin-left: 5px;
}

.card {
    min-height:300px;
    max-width: 300px;
    display: flex;
    justify-content: center;
}

.section-4 h2 {
    text-align: center;
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}

.section-4 p {
    color: black;
}

.section-4 p-1 {
    color: darkorange;
    font-weight: bold;
    text-align: center;
}

/*Section-5*/
.section-5 .container-fluid {
    background-color: navajowhite;
    border-bottom: 8px double darkorange;
    border-top: 8px dotted darkorange;
}

.section-5 .rounded-circle {
    border: 3px solid white;
    margin-top:15px;
    margin-left:43%;
    margin-bottom:15px;
}

.section-5 h1 {
    text-align: center;
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5em;
    margin-top: 15px;
}

.section-5 .about-me p {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

a {
    text-align: center;
}
/*Section-6*/
.section-6 {
    background-color: lightblue;
    border-top: 8px dotted darkorange;
}

.section-6 .container-fluid .greeting {
    text-align: center;
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5em;
    margin-top: 15px;
    padding: 15px;
}

h1 {
    text-align: center;
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}

.section-6 .form-control {
    width: 55%;
    align-items: left;
}

.section-6 .form-contact {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.section-6 .form-mantra {
    margin-bottom: 0.5rem;
    align-items: left;
}

.section-6 .button-message {
    margin-bottom: 15px;
    background-color: darkorange;
    color: white;
}

.section-6 .button-mantra {
    margin-bottom: 15px;
    background-color: darkorange;
    color: white;
}

/*Footer Section*/
.footer-container p {
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    padding: 1rem;
}