.navbar-expand-md .navbar-nav .nav-link {
    color: darkorange;
    padding-left: 2rem;
    padding-right: 2rem;
}
.container-fluid {
    padding: 10px;
}

.navbar-dark .navbar-brand {
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}

.container-fluid-quote-1 {
    background-color: lightblue;
    text-align: center;
    font-family: Papyrus;
    font-size: large;
    color: white;
    padding: 25px;
}

.container-fluid-quote-2 {
    background-color: seashell;
    margin: 55px;
}

.container-fluid-quote-2 .quote-2 {
    text-align: center;
    font-family: Papyrus;
    font-size: large;
    color: black;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid-quote-2 .image-fluid {
    float: left;
    width: 50%;
    height: 50%;
}

.top-section {
    margin: auto;
}

.index-image .image-fluid{
    margin-top: 10px;
}

body {
    background-color: navajowhite;
}
