/*Body background*/
body {
    background-color: navajowhite;
}

/*Navigation Bar container*/
.container-fluid {
    padding: 1rem;
}

/*Navigation Bar titles/links*/
.navbar-expand-md .navbar-nav .nav-link {
    color: darkorange;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*Navigation Bar brand: "Patanjali Yogini" title*/
.navbar-dark .navbar-brand {
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    padding-left: 2rem;
}

/*index-image-1: Image-1 (Lord Ganesha)*/

.index-image-1.image-fluid {
    margin-top: 25rem;
}

/*Section-1: Quote-1 "Yoga Chittavritti Nirodha"*/
.container-fluid-quote-1 {
    background-color: lightblue;
    text-align: center;
    font-family: Papyrus;
    font-size: large;
    color: white;
    padding: 45px;
}

/*Section-2*/
.container-fluid-quote-2 {
    background-color: navajowhite;
    margin: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid-quote-2 .quote-2 {
    font-family: Papyrus;
    font-size: x-large;
    color: black;
    background-color: navajowhite;
    text-align: center;
    padding-right: 10%;
    display: block;
}

.container-fluid-quote-2 .image-fluid {
    float: left;
    width: 85%;
    height: 85%;
}

/*Section-3*/
.container-fluid-quote-3 .image-fluid {
    position: relative;
    text-align: center;
    color: white;
    width: 95%;

}

.container-fluid-quote-3 .quote-3 {
    font-family: Papyrus;
    font-size: x-large;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-right: -550%;
    position: absolute;
    bottom: 16px;
    right: 30px;
}

/*Section-4*/

.section-4 h1 {
    text-align: center;
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5em;
}

.section-4 h2 {
    text-align: center;
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}

.section-4 {
    background-color: lightblue;
}

/*Section-5*/
.section-5 {
    background-color: navajowhite;
    margin: 10px;
}

.section-5 .rounded-circle {
    text-align: center;
    padding-top: 10px;
}

.section-5 .column-1 {
    float: left;
    width: 50%;
    padding-left: 500px;
    height: 475px;
}

.section-5 .column-2 {
    float: left;
    width: 50%;
    padding-left: 150px;
    height: 475px;

}

/*Section-6*/
.container-section-6 {
    background-color: lightblue;
}

.greeting {
    text-align: center;
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5em;
}

h1 {
    text-align: left;
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}

.footer-container p {
    color: darkorange;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    text-align: center;
    padding: 1rem;
}