
body {
    background-color: navajowhite;
}

.text-block {
    font-family: sans-serif;
    text-align: left;
    font-size: medium;
    color: black;
    display: block;
    background-color: lightblue;
    padding: 85px;
    margin: 10%;
}

h1 {
    color: midnightblue;
}

h2 {
    color: midnightblue;
}

